body {
  background-color: #0d020c;
  background-image: url('../img/bg.jpg');
  height:100%;
  font-family: sourceFont
}

.me {
  margin: auto;
  max-width: 200px;
  margin-bottom: -10px;
  position: relative;
  z-index: 1000;
  box-shadow: 0 0 1em #222222;
}

.my-name {
  padding-top: 1rem;
  color:#91092c;
}

.my-title {
  color:#5d0a18;
}

.name-and-title {
  /*padding-left: 5rem;*/
}

.icon {
  max-width: 35px;
}

.up-line {
  width:100%;
  height:15px;
  background-color: #91092c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 1;
  position: relative;
}

.vertical-separation {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer {
  height: 120px;
  width: 100%;
  background-color: black;
}

.lager-logo {
  max-width: 150px;
  padding: 2rem;
  margin: auto;
}

.work-in-progress {
  max-width: 300px;
  margin: auto;
}

@font-face {
    font-family: sourceFont;
    src: url('../fonts/SourceCodePro-Regular.otf.woff');
}

/* General styles */

a {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

li:before {
    content: "> ";
    font-size: 16px;
    color: #91092c;
    font-weight: bold;
}
